<section class="a-features-wrapper">

  <div class="a-feature a-launch-apps">
    <div class="container">
      <div class="row">
        <div class="eight columns">
          <img src="/img/albert-apps.png" alt="Launch Apps">
        </div>
        <div class="four columns">
          <h4>Find and launch apps</h4>
          <p>Albert makes it very easy to search and launch apps without lifting your fingers from the keyboard. New apps are indexed within seconds.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="a-feature a-browse-files">
    <div class="container">
      <div class="row">
        <div class="four columns">
          <h4>Browse files</h4>
          <p>Quickly find and take action on your files. Albert allows you to customise which filetypes are indexed and how often to scan for new files.</p>
        </div>
        <div class="eight columns">
          <img src="/img/albert-music.png" alt="Browse Files">
        </div>
      </div>
    </div>
  </div>

  <div class="a-feature a-websearch">
    <div class="container">
      <div class="row">
        <div class="eight columns">
          <img src="/img/albert-search.png" alt="Search the web">
        </div>
        <div class="four columns">
          <h4>Search the web</h4>
          <p>Launch a search on any configured website using system’s default web browser. You can add as many entries as you like!</p>
        </div>

      </div>
    </div>
  </div>

</section>
