<section class="a-testimonials">

  <div class="container">
    <div class="row">
      <div class="twelve columns">
        <h2>What the press is saying about Albert</h2>
      </div>
    </div>

    <section class="a-testimonials-wrapper">
      <div class="row">
        <div class="four columns">
          <div class="single">
            <blockquote cite="http://www.omgubuntu.co.uk/2016/10/your-favourite-alfred-app-launcher-linux">
              "...much lighter on system resources, and relies less on other desktop dependencies or frameworks...also more readily extensible"
            </blockquote>
            <p class="source"><a href="http://www.omgubuntu.co.uk/2016/10/your-favourite-alfred-app-launcher-linux">OMG! Ubuntu!</a></p>
          </div>
        </div>
        <div class="four columns">
          <div class="single">
            <blockquote cite="http://www.webupd8.org/2015/01/albert-fast-lightweight-quick-launcher.html">
              "What makes Albert special is that it's very fast, lightweight and desktop environment agnostic"
            </blockquote>
            <p class="source"><a href="http://www.webupd8.org/2015/01/albert-fast-lightweight-quick-launcher.html">Webupd8</a></p>
          </div>
        </div>
        <div class="four columns">
          <div class="single">
            <blockquote cite="https://www.maketecheasier.com/albert-launcher-linux/">
              "...one of the best launchers available for Linux"
            </blockquote>
            <p class="source"><a href="https://www.maketecheasier.com/albert-launcher-linux/">Make Tech Easier</a></p>
          </div>
        </div>
      </div>
    </section>

    <hr class="half-rule">

    <section class="call-to-action">
      <p>Albert is open source. It's hosted, developed, and maintained on GitHub.</p>
      <a class="button" href="https://github.com/albertlauncher/albert.git">View the Github Project</a>
    </section>

  </div>
</section>
