<section class="a-highlights">
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        <h2>Albert at a glance</h2>
      </div>
    </div>

    <div class="row">
      <div class="three columns">
        <i class="fa fa-search"></i>
        <h5>Launch applications</h5>
        <p>It only takes a few keystrokes to find and launch your favorite apps</p>
      </div>
      <div class="three columns">
        <i class="fa fa-paint-brush"></i>
        <h5>Theming</h5>
        <p>It's easy to customize and style Albert with pre-installed or custom themes. </p>
      </div>
      <div class="three columns">
        <i class="fa fa-terminal"></i>
        <h5>Terminal Integration</h5>
        <p>Run commands directly from Albert. No configuration needed.</p>
      </div>
      <div class="three columns">
        <i class="fa fa-calculator"></i>
        <h5>Calculate</h5>
        <p>Evaluate mathematical expressions and copy the results to the clipboard.</p>
      </div>
    </div>

    <div class="row">
      <div class="three columns">
        <i class="fa fa-power-off"></i>
        <h5>System Commands</h5>
        <p>Shutdown, reboot or lock your PC with ease.</p>
      </div>
      <div class="three columns">
        <i class="fa fa-music"></i>
        <h5>Control Music Player</h5>
        <p>Send "play", "pause", "stop", "next" or "previous" commands to your preferred music player.</p>
      </div>
      <div class="three columns">
        <i class="fa fa-bookmark"></i>
        <h5>Bookmarks</h5>
        <p>Find and open bookmarks from Chrome and Firefox.</p>
      </div>
      <div class="three columns">
        <i class="fa fa-files-o"></i>
        <h5>Search your files</h5>
        <p>Browse and take action on your files without lifting your fingers off the keyboard.</p>
      </div>
    </div>

    <div class="row">
      <div class="three columns">
        <i class="fa fa-google"></i>
        <h5>Web Search</h5>
        <p>Launch a search on any configured website using system’s default web browser.</p>
      </div>
      <div class="three columns">
        <i class="fa fa-desktop"></i>
        <h5>Desktop Agnostic</h5>
        <p>Works on any Linux desktop.</p>
      </div>
      <div class="three columns">
        <i class="fa fa-support"></i>
        <h5>Support</h5>
        <p>Awesome community-driven support.</p>
      </div>
      <div class="three columns">
        <i class="fa fa-code-fork"></i>
        <h5>Open Source</h5>
        <p>GPL-licensed, 100% free and open source.</p>
      </div>
    </div>
  </div>
</section>
