<footer class="a-footer">

  <div class="container">

    <div class="row">
      <div class="twelve columns">

      <section class="a-footer-items">

        <ul>
          <li><a href="/docs/">Docs</a></li>
          <li><a href="/news/">News</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Releases</a></li>
          <li><a href="/help/">Support</a></li>
        </ul>

        <span>Albert by <a href="https://github.com/ManuelSchneid3r">Manuel Schneider</a>. Website by <a href="https://ayoisaiah.com">Ayo Isaiah</a></span>
      </section>



      </div>
    </div>

  </div>

</footer>
