<nav class="site-header">
    <div class="container">
        <a class="title" href="{{site.url}}">
            <img class="icon" src="{{site.url}}/img/albert.svg" alt="Albert" title="Albert">
            <span class="title">{{site.title}}</span>
        </a>
        <nav class="navigation float-right">
            <ul>
            <!--    <li class="{% if page.url contains '//' %}current{% endif %}">
                    <a href="//">Docs</a>
                </li>
                <li class="{% if page.author %}current{% endif %}">
                    <a href="/news/">News</a>
                </li>
                <li class="{% if page.url contains '/help/' %}current{% endif %}">
                    <a href="/help/">Help</a>
                </li>-->
                <li>
                    <a href="{{ site.repository }}"><span class="hide-on-mobiles">View on </span>GitHub</a>
                </li>
            </ul>
        </nav>
    </div>
</nav>
