<aside class="navigation" id="doc_nav">

    <a class="title" href="{{site.url}}"  style="margin-bottom:3cm;">
        <img class="icon" src="{{site.url}}/img/albert.svg" alt="Albert" title="Albert">
        <span class="title">{{site.title}}</span>
    </a>
    <br><br>

    {% for section in site.data.pages %}
    <h5>{{ section.title }}</h5>
    <ul>
        {% for item in section.pages %}
        {% assign item_url = item | prepend:"/" | append:"/" %}
        {% assign p = site.pages | where:"url", item_url | first %}
        <li class="{% if item_url == page.url %}current{% endif %}"><a href="{{ p.url }}">{{ p.title }}</a></li>
        {% endfor %}
        <li><a href="https://raw.githubusercontent.com/albertlauncher/albert/master/CHANGELOG.md">Changelog</a></li>
        <li><a href="{{ site.repository }}">GitHub</a></li>
    </ul>
    {% endfor %}
</aside>
