<nav class="a-navigation-overlay" id="overlay" onclick="closeNav()">
	<ul>
		<li><a href="/" class="nav-link">Home</a></li>
		<li><a href="/docs/" class="nav-link">Docs</a></li>
		<li><a href="/news/" class="nav-link">News</a></li>
		<li><a href="#" class="nav-link">Features</a></li>
		<li><a href="#" class="nav-link">Downloads</a></li>
		<li><a href="#" class="nav-link">Get Involved</a></li>
		<li><a href="/help/" class="nav-link">Support</a></li>
		<li class="instruction">Click anywhere to close</li>
	</ul>
</nav>
