@import "./color_schemes/dark";

$blue-000: #0cc;
$blue-100: #0aa;
$blue-200: #088;
$blue-300: #066;

$link-color: $blue-000;
$nav-child-link-color: $blue-000;
//$base-button-color: $blue-000;
$btn-primary-color: $blue-000;

